# Analysis of Crime rate in San Francisco

### Content
+ Introduction: Crime rate in San Francisco
+ Data description and objectives
+ Data acquisiton, manipulation and validation
+ Data analysis and visualization 
+ Conclusion

## 1.Introduction: Crime Rate in San Francisco

San Francisco is a very large coastal city (i.e. on the ocean, a bay, or inlet) located in the state of California. With a population of 883,305 people and 198 constituent neighborhoods, San Francisco is the fourth largest community in California. 

With a crime rate of 64 per one thousand residents, San Francisco has one of the highest crime rates in America compared to all communities of all sizes - from the smallest towns to the very largest cities. One's chance of becoming a victim of either violent or property crime here is one in 16. Within California, more than 99% of the communities have a lower crime rate than San Francisco.

The overall crime rate in San Francisco is 151% higher than the national average.
For every 100,000 people, there are 18.86 daily crimes that occur in San Francisco.
San Francisco is safer than 5% of the cities in the United States.
The number of total year over year crimes in San Francisco has not changed.

Source(https://www.neighborhoodscout.com/ca/san-francisco/crime)

## 2.Data description and objectives

According to gleaned description San Francisco has by far the highest property crime rate in California, with more than twice the number of reported thefts per capita than Los Angeles or Santa Clara counties. It is quite interesting to recieve more information about San Francisco in terms of law-breaking for citizens as well as for city tourists.

The number of total year over year crimes in San Francisco has not changed. That is why Analysis of the data is based on the Police Department records of year 2016. Unfortunately there is information about crime only, nothing about criminal because of Privacy Policy.

The list below represents data,on which I will work, from the dataset:

+ Category- section of committed crime
+ Description - the way how law was breaked
+ Day of week - day of Week when the crime happened
+ Date - exact day when crime was comitted
+ Time - exact time when crime was committed
+ Disctrict - the neighborhood in San Francisco
+ Resolution - kind of Punishment given to the criminal to resolve the case
+ Address - address where the crime scene happened
+ X - latitude of the crime Location
+ Y - longitude of the Crime Location
+ Location - exact Location coordinates

Project questions:
+ Identify categories of breaked laws which are most common
+ Find most frequent description for crime
+ Figure out Regions with most/least crime 
+ Show top addresses where law-breaking happened most
+ Identify crime rate in each month
+ Find District vs category of crime
+ Find Distribution of crime over the day
+ Analyze Crime amount in each week day

For this project, data analysis and visualization contains 5 parts:

1. Work with the dataset:cleaning and shaping
2. Analysis of relationships between columns in the dataset  
3. Analysis of data answering project questions 
4. Visualisation of analyzed data: bulding Graphs,Maps,Tables,Charts and so on
5. Analysis of results 
6. Overview on completed analysis

## 3. Data acquisiton, manipulation and validation

### 3.1. Data acquisiton: Dataset from Kaggle.com

This Problem Data set contains information about the law-breaking in San Francisco, which was came from the Crime Data Warehouse, a reliable data system maintained by the Police Department. So, in order to work with the data set, first we have to download file with comma separated values, then use appropriate pandas functions to read the data.

In [217]:
# for some basic operations
import numpy as np 
import pandas as pd

In [283]:
#reading the dataset
data = pd.read_csv('Police_Department_Incidents_-_Previous_Year__2016_.csv')

In [284]:
data.head(6)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000
5,160002869,ASSAULT,BATTERY,Friday,01/01/2016 12:00:00 AM,21:35,NORTHERN,NONE,1700 Block of BUSH ST,-122.426077,37.788019,"(37.788018555829, -122.426077177375)",16000286904134

### 3.2. Data manipulation: cleaning and shaping

In this step, we do following manipulations:
+ Inconsistent column names 
+ Dropping unnecessary columns
+ Missing data
+ Different data types
+ Duplicated rows
+ Data Shaping

#### Inconsistent column names

In [285]:
#check the column names and their data type
data.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'],
      dtype='object')

In [286]:
#change the case to upper
data.columns=data.columns.str.upper()
data.columns

Index(['INCIDNTNUM', 'CATEGORY', 'DESCRIPT', 'DAYOFWEEK', 'DATE', 'TIME',
       'PDDISTRICT', 'RESOLUTION', 'ADDRESS', 'X', 'Y', 'LOCATION', 'PDID'],
      dtype='object')

In [287]:
#rename columns 
data.rename(columns={'PDDISTRICT':'DISTRICT','DAYOFWEEK':'DAY OF WEEK'},inplace = True);
data.head()

,INCIDNTNUM,CATEGORY,DESCRIPT,DAY OF WEEK,DATE,TIME,DISTRICT,RESOLUTION,ADDRESS,X,Y,LOCATION,PDID
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

#### Dropping unnecessary columns

The first and last columns, called incident number(INCIDNTNUM) and police department id(PDID) respectievly, will not be obliging and helpful in analysis.

In [288]:
data.drop(columns=['INCIDNTNUM', 'PDID'],inplace = True);
data

,CATEGORY,DESCRIPT,DAY OF WEEK,DATE,TIME,DISTRICT,RESOLUTION,ADDRESS,X,Y,LOCATION
0,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
2,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)"
3,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)"
4,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)"
...,...,...,...,...,...,...,...,...,...,...,...
150495,ASSAULT,BATTERY,Friday,12/30/2016 12:00:00 AM,21:01,PARK,NONE,OAK ST / STANYAN ST,-122.453982,37.771428,"(37.7714278595913, -122.453981622365)"
150496,NON-CRIMINAL,LOST PROPERTY,Friday,12/30/2016 12:00:00 AM,08:00,CENTRAL,NONE,JACKSON ST / SANSOME ST,-122.401857,37.796626,"(37.7966261239618, -122.401857374739)"
150497,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Thursday,12/29/2016 12:00:00 AM,20:00,CENTRAL,NONE,PINE ST / TAYLOR ST,-122.412269,37.790673,"(37.7906727649886, -122.41226909106)"
150498,LARCENY/THEFT,GRAND THEFT OF PROPERTY,Friday,12/30/2016 12:00:00 AM,10:00,CENTRAL,NONE,200 Block of STOCKTON ST,-122.406659,37.788275,"(37.7882745285785, -122.406658711008)"
150499,OTHER OFFENSES,"FRAUDULENT GAME OR TRICK, OBTAINING MONEY OR P...",Friday,12/02/2016 12:00:00 AM,14:00,SOUTHERN,NONE,800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"

#### Missing data

In [289]:
#checking for the missing data
#false means no missing data  
data.isnull().any()

CATEGORY       False
DESCRIPT       False
DAY OF WEEK    False
DATE           False
TIME           False
DISTRICT        True
RESOLUTION     False
ADDRESS        False
X              False
Y              False
LOCATION       False
dtype: bool

In [290]:
#columns with total row numbers, which are not empty 
data1 = pd.DataFrame()
data1["Columns"] = list(data.columns)
data1["Count"] = list(data.count())

data1

        Columns   Count
0      CATEGORY  150500
1      DESCRIPT  150500
2   DAY OF WEEK  150500
3          DATE  150500
4          TIME  150500
5      DISTRICT  150499
6    RESOLUTION  150500
7       ADDRESS  150500
8             X  150500
9             Y  150500
10     LOCATION  150500

In [291]:
#total number of missed values
data.isnull().sum().sum()

1

In [292]:
#add default value for missed data
data=data.fillna('-')
#deleting rows with NaN values
#data = data.dropna()

In [293]:
#number of missed value after getting rid/replacing 
data.isnull().sum().sum()

0

#### Duplicated data

In [294]:
#checking for duplicated data
#shows total number of duplicated data
data.duplicated().sum()

533

In [295]:
#retrieve all duplicated rows 
data.loc[data.duplicated(),:]

,CATEGORY,DESCRIPT,DAY OF WEEK,DATE,TIME,DISTRICT,RESOLUTION,ADDRESS,X,Y,LOCATION
1745,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Saturday,01/30/2016 12:00:00 AM,15:30,RICHMOND,NONE,36TH AV / JOHNFKENNEDY DR,-122.494947,37.769846,"(37.7698461845555, -122.494946717382)"
2122,PROSTITUTION,SOLICITS FOR ACT OF PROSTITUTION,Thursday,02/04/2016 12:00:00 AM,12:00,TARAVAL,"ARREST, BOOKED",100 Block of CAMBON DR,-122.474308,37.716643,"(37.7166425332691, -122.474308079894)"
2123,PROSTITUTION,LOITERING FOR PURPOSE OF PROSTITUTION,Thursday,02/04/2016 12:00:00 AM,12:00,TARAVAL,"ARREST, BOOKED",100 Block of CAMBON DR,-122.474308,37.716643,"(37.7166425332691, -122.474308079894)"
2153,PROSTITUTION,SOLICITS FOR ACT OF PROSTITUTION,Thursday,02/04/2016 12:00:00 AM,12:00,TARAVAL,"ARREST, BOOKED",100 Block of CAMBON DR,-122.474308,37.716643,"(37.7166425332691, -122.474308079894)"
2154,PROSTITUTION,LOITERING FOR PURPOSE OF PROSTITUTION,Thursday,02/04/2016 12:00:00 AM,12:00,TARAVAL,"ARREST, BOOKED",100 Block of CAMBON DR,-122.474308,37.716643,"(37.7166425332691, -122.474308079894)"
...,...,...,...,...,...,...,...,...,...,...,...
149658,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Saturday,12/31/2016 12:00:00 AM,23:00,SOUTHERN,NONE,500 Block of HOWARD ST,-122.397032,37.787825,"(37.7878246694374, -122.397032436528)"
149671,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Tuesday,12/13/2016 12:00:00 AM,16:45,NORTHERN,NONE,VALLEJO ST / VANNESS AV,-122.423605,37.796691,"(37.7966908906411, -122.423605337517)"
149820,FRAUD,"TRICK AND DEVICE, GRAND THEFT",Monday,04/11/2016 12:00:00 AM,13:00,INGLESIDE,NONE,0 Block of PERSIA AV,-122.435557,37.722994,"(37.7229939497296, -122.435557066402)"
149841,NON-CRIMINAL,LOST PROPERTY,Tuesday,12/20/2016 12:00:00 AM,00:01,CENTRAL,NONE,400 Block of SUTTER ST,-122.407803,37.789382,"(37.7893818905021, -122.407802668376)"
150006,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Saturday,08/27/2016 12:00:00 AM,11:00,SOUTHERN,NONE,800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"

In [ ]:
#drop duplicates except the very first row 
data=data.drop_duplicates(keep='first')

In [298]:
# the number of rows left after dropping duplicates
data.shape

(149967, 11)

#### Data types

In [299]:
#checking the data types 
data.columns

Index(['CATEGORY', 'DESCRIPT', 'DAY OF WEEK', 'DATE', 'TIME', 'DISTRICT',
       'RESOLUTION', 'ADDRESS', 'X', 'Y', 'LOCATION'],
      dtype='object')

In [300]:
#assigning the appropriate data type
data["DATE"] = data["DATE"].apply(pd.to_datetime)
data["TIME"] = data["TIME"].apply(pd.to_datetime)

In [307]:
data.astype({'CATEGORY': 'string','DESCRIPT':'string' ,'DAY OF WEEK':'string','RESOLUTION':'string'}).dtypes

CATEGORY               string
DESCRIPT               string
DAY OF WEEK            string
DATE           datetime64[ns]
TIME           datetime64[ns]
DISTRICT               object
RESOLUTION             string
ADDRESS                object
X                     float64
Y                     float64
LOCATION               object
dtype: object

#### Data shaping

In [305]:
# shaping data
# use shape function to retrieve number of observations and columns in the dataset
data.shape

(149967, 11)

In [306]:
#description of int or float variables
data.describe()

                   X              Y
count  149967.000000  149967.000000
mean     -122.423576      37.768925
std         0.026187       0.023633
min      -122.513642      37.707922
25%      -122.434030      37.756486
50%      -122.416894      37.775421
75%      -122.406605      37.785063
max      -122.365565      37.819975